<!doctype html>
<html lang="en" ng-app="demo">
<head>
  <meta charset="UTF-8">
  <title>Angular ZeroClipboard</title>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/zeroclipboard/ZeroClipboard.min.js"></script>
  <script src="../src/angular-zeroclipboard.js"></script>
  <script>
  angular.module('demo', ['angular.zeroclipboard']).
  config(['uiZeroclipConfigProvider', function(uiZeroclipConfigProvider) {

    // config ZeroClipboard
    uiZeroclipConfigProvider.setZcConf({
      moviePath: '../bower_components/zeroclipboard/ZeroClipboard.swf'
    });

    // set directive options
    uiZeroclipConfigProvider.setOptions({
      buttonText: 'Copy Me!',
      emitEvent: true
    });

  }]).
  controller('demoCtrl', ['$scope', function($scope) {
    $scope.$on('ZeroClipboard.complete', function() {
      console.log('copy complete');
    })
  }]);
  </script>
</head>
<body ng-controller="demoCtrl">

<h1>Angular ZeroClipboard Demo</h1>

<form action="">
  <label for="">input: <input type="text" ui-zeroclip ng-model="input"></label>

  <label for="">textarea: <textarea cols="30" rows="10" ui-zeroclip ng-model="textarea"></textarea></label>  
</form>
  
</body>
</html>